# Diretórios locais do Terraform
**/.terraform/*

# Terraform State
*.tfstate
*.tfstate.*

# Variáveis sensíveis
*.tfvars
*.tfvars.json

# Planos do Terraform
*.tfplan
tfplan

# Variáveis de ambiente
.env

# Crash logs
crash.log
crash.*.log